# Compiled Object files
*.slo
*.lo
*.o

.DS_Store


# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# XCode stuff
*.hmap
*.xcuserstate

# Vim stuff
*.swp

src/LabMidi.xcodeproj/xcuserdata/
src/obj/
build/

