<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LabMidi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03E159A8639E3ADE560C45D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>080122AD32F921E76C7C011B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23D064F24E9B5AAF206F04F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26FF5FAB7FB010C25FBE3733</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27B01A46192D175D700A4189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29355DFC02E8666C52FF22FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DA356146A5852913B27114C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46281839546222AE025954AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A311116652923DB0ACA6F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AE509863D62202219BD4E5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C06380F676A175A50CC21F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>519B31EE2E9C35BD0FC24449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>522C760157FE0B6A76467428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54740F342A29074350B47C7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>562C6FFD7E8F09141F443434</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CB706A02D7457A04D8500D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E000F9D38DA166D75311EF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>682C4AF12B8357E31A175E5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BF352A41FBF4861592A6C46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D3A0697523F645676CD2AA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E01099D4C436C6A3BF85207</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F7F273C03771A7E56C0182D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71BF6AEF0EF711D75F42262D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>776E6D2945482C3B17056EB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
